.titanic_form_div {
  overflow-x: hidden;
}

.select_options {
  background: transparent !important;
  color: #fff !important;
}

.select_options option {
  background: #1a202c !important;
}

.form_submit_btn {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding: 8px 20px;
  background:#4AD1C5;
  border-radius: 9px;
  color: #2B202C;
  letter-spacing: 8px;
}

.form_submit_btn:hover {
  background:#43bfb5;
}



@media (max-width: 281px) {
  .heading_box {
    text-align: center;
  }
  .form_box {
    width: 90vw;
  }
}
